.app-container {
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 1.25rem;
    margin-left: 25rem;


}

.zoomImg {
    margin-left: 12rem;
    margin-top: 0.2rem;
    width: 8rem;
}


.delete {
    opacity: 0
}

.delete:hover {
    opacity: 1
}